<script>

</script>

<form>
    Имя рекламного места - это метка для идентфикации. Предтсавляет собой осмысленное произвольное название, состоящее из символа подчёркивания и сиволов латинского алфавита.
    <input type='text' placeholder='Имя рекламного места'>
    <input type='button' value='Создать рекламное место' onclick="mod_adv.create_category(this);">
</form>